@font-face {
    font-family: 'Vazir';
    src: url('Vazir.woff2') format('woff2'),
        url('Vazir.woff') format('woff'),
        url('Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    font-family: Vazir;
}
a:focus {
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 0 !important;
    background-color: white;
}
nav .navbar-topbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 36px;
    background-color: #d8ebfe;
    
}
nav .navbar-topbar span {
    padding :1rem;
}
.navbar-topbar a{
    text-decoration: none;
    margin: 1rem;
}
.navbar-topbar a#navbar-signin{
    color: white;
    padding:3px 8px;
    border-radius:1rem;
    background-color: #3f89bd;
}
.navbar-main {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#navbar-categories {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    border-radius: 0.5rem;
}
.navbar-search {
    flex: 0.9;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;

}
.navbar-search input {
    width: 98%;
    border: none;
    outline: none;
}
.navbar-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#navbar-categories span {
    margin: 0 5px;
}
.navbar-cart span {
    font-size: 0.8rem;
    margin: 0 5px;
}
.navbar-account span {
    font-size: 0.8rem;
}
.navbar-account i {
    font-size: 0.8rem;
}
.account-dropdown{
    display: none;
    position: absolute;
    min-width: 150px;
    left:10px;
    top:25px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;   
    flex-direction: column;
    padding: 0.5rem;
    cursor: pointer;
}
.account-dropdown a {
    font-size: 0.9rem;
    color: black;
    padding: 0.5rem;
}
.dropdown {
    position: relative;
    cursor: pointer;
}
.navbar-account span {
    margin: 0 5px;
}
.account-dropdown a:hover {background-color: #ddd;}

.dropdown:hover .account-dropdown {
    cursor: pointer;
    display: flex;
}
/* #navbar-categories:hover #categories-dropdown{
    display: flex;
} */
#categories-dropdown a:hover {background-color: #ddd;}

#categories-dropdown{
    display: none;
    position: absolute;
    overflow: hidden;
    width: 468px;
    max-height: 450px;
    justify-content: right;
    align-items: flex-start;
    right: 0;
    top:32px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;   
    flex-direction: row;
    padding: 0.5rem;
    flex-wrap: wrap;
    cursor: pointer;
}
.active {
    display: flex !important;
}
#categories-dropdown a {
    width: 150px;
    text-align: right;
    color: black;
    font-size: 0.9rem;
    padding: 0.5rem;
}
main{
    margin-top:150px;
}
.book-image {
    height: 150px;

}
.books-section {
    margin-top: 5rem;
}
.book-add {
    padding:8px;
    width:100%;
    border: none;
    background-color: #3f89bd;
    color: white;
    text-align: center;
}
.books-list {
    position: relative;
    margin-top: 4rem;
}
.previous {
    position: absolute;
    top: 135px;
    right: -100px; 
    font-size: 2rem;
}
.slider-item {
    display: flex;
}
.next {
    position: absolute;
    top: 135px;
    left: -100px; 
    font-size: 2rem;
}
.hide {
    display: none;

}
.show {
    display: flex !important;
}
.customer-reviews{
    margin-top:5rem;
    background-color: #eeeeee;
    width:100%;
    height: 25rem;
    padding: 3rem;
}
.review-header {
    padding-right: 2rem;
}
.rate-of-5{
    border-radius:1rem;
    height:5rem;
    width:100px;
    background-color: #f8af49;
}
.rate-of-5-head{
    height: 70%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;

}
.rate-of-5-foot{
    background-color: #fcd9b7;
    color: #b65624;
    display:flex;
    justify-content:center;
    align-items: center;
}
.review-progressbar{
    height: 5rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.review-progressbar-item{
    display:flex;
    width:100%;
    justify-content:space-between;
}
.progressbar {
    width: 50%;
    height: 0.9rem;
    background-color: #cccccc;
}
.tiny-text {
    font-size: 0.7rem;
}
.text-muted {   color: #d2d2d2  }
.progressbar-value {
    width: 70%;
    height: 100%;
    background-color: #0b669a;
}
.lni-star-filled,.lni-heart-filled,.lni-book,.lni-trees{
    font-size: 2rem;
}
footer {
    padding: 5rem 0;
    height: 30rem;
    width: 100%;
    background-color: #011f34;
    color: white;
    margin-top: 5rem;
}
footer a {
    line-height: 30px;
    color : white !important;
}